<% create_container('field double') do %>
  <%= combo_box_for_block(@permission,:role,@roles) %>
  <span>
    <label for='options'>Selecione um Modelo
      <%= f.select('model_name',@models,:prompt => 'Selecione...')%>
    </label>
  </span>
<% end %>
   <div class='field' id='actions_by_model'>
      <span>
        <fieldset>
        </fieldset>
      </span>
    </div>
  <%= input_text_for_form(f,@permission,:situation,{},{:input_type => 'checkbox'}) %>
<%= create_actions_buttons(button_label) %>

