<% content_for :sidebar do %>
  <%= error_message_for(@sub_menu) %>
<% end %>

<% content_for :main do  %>
  <%= onde_estou "Cadastro de #{@model_name}",admin_root_path,'Dashboard' %>
  <div class="box fields">
    <%= form_for [:admin,@sub_menu] do |f| %>
      <%= render :partial => 'form',:locals =>{:button_label => "Cadastrar",:f => f} %>
    <% end %>
  </div>
<% end %>

