<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>Login - Módulo Administrativo { MOSTRATIVO }</title>
    <link href="/stylesheets/admin.css" rel="Stylesheet" type="text/css" media="all" />
    <link href="/stylesheets/reset.css" rel="Stylesheet" type="text/css" media="all" />
    <link href="/stylesheets/typography.css" rel="Stylesheet" type="text/css" media="all" />
	  <link href="/stylesheets/prettyPhoto.css" rel="Stylesheet" type="text/css" media="all" />
	  <link href="/stylesheets/ui-lightness/jquery-ui-1.8.2.custom.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <script src="/javascripts/sistema/jquery-1.3.2.js" type="text/javascript" charset="utf-8"></script>
	  <script src="/javascripts/sistema/jquery-ui-1.8.2.custom.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/sistema/tools.js" type="text/javascript" charset="utf-8"></script>
	  <script src="/javascripts/sistema/tools-form.js" type="text/javascript" charset="utf-8"></script>
	  <script src="/javascripts/sistema/tools-results.js" type="text/javascript" charset="utf-8"></script>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8" />
    <meta http-equiv="content-language" content="pt-br" />
    <meta name="author" content="" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="reply-to" content="" />
</head>
<body>
<div id="top">

</div>

<div id="login">
  <% if flash[:notice] || flash[:alert] %>
    <div class='information'>
      <span id='notice'><span>&nbsp;</span><h2><%= flash[:notice] || flash[:alert]%></h2></span>
    </div>
  <% end %>
  <span class="clear">&nbsp;</span>
  <%= yield %>
</div>


</body>
</html>

