<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>Modulo Administrativo { MOSTRATIVO }</title>
    <link href="/stylesheets/admin.css" rel="Stylesheet" type="text/css" media="all" />
    <link href="/stylesheets/reset.css" rel="Stylesheet" type="text/css" media="all" />
    <link href="/stylesheets/typography.css" rel="Stylesheet" type="text/css" media="all" />
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <script src="/javascripts/sistema/jquery-1.3.2.js" type="text/javascript" charset="utf-8"></script>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8" />
    <meta http-equiv="content-language" content="pt-br" />
    <meta name="author" content="" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="reply-to" content="" />
</head>
<body>

<div class="options">
  <%= yield %>
</div>
</body>
</html>

